h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color:#00CCFF ;
}

.groupe{
    border-radius: 200px;
   
}
h2{
    color: darkblue;
}
body{
   background-image: linear-gradient(to right, rgba(28, 197, 189, 0.486),#f711ff41,rgb(252, 229, 20));
}
.option{
    display: block;
    color: blueviolet;
    text-decoration: none;
    background-color: blue;
    text-align: right;
    flex-direction: column;
}